@model Ecommerce_website.Models.product

@{
    ViewData["Title"] = "product_edit";
}

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h1>product_edit</h1>

<h4>product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="product_edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="product_id" />
            <div class="form-group">
                <label asp-for="product_name" class="control-label"></label>
                <input asp-for="product_name" class="form-control" />
                <span asp-validation-for="product_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_price" class="control-label"></label>
                <input asp-for="product_price" class="form-control" />
                <span asp-validation-for="product_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_description" class="control-label"></label>
                <input asp-for="product_description" class="form-control" />
                <span asp-validation-for="product_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_image" class="control-label"></label>
                <input asp-for="product_image" type="file" class="form-control" />
                <span asp-validation-for="product_image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="product_quantity" class="control-label"></label>
                <input asp-for="product_quantity" class="form-control" />
                <span asp-validation-for="product_quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cat_id" class="control-label"></label>
                <select asp-for="cat_id" class="form-control" asp-items="ViewBag.cat_id"></select>
                <span asp-validation-for="cat_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

